*,
*::before,
*::after { 
    box-sizing: border-box;
}

:root {
    --primary-site-col: hsl(191, 32%, 48%);
    --inverse-text-col: hsl(0, 0%, 100%);
    --neutral-col-100: hsl(0, 0%, 100%);
    --neutral-col-200: hsl(0, 0%, 93%);
    --btn-hover-col: hsl(281, 32%, 38%);
    --accent-col-1: hsl(281, 32%, 48%);
    --accent-col-2: hsl(341, 32%, 48%);
    --ff: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.color-1 {color: #5393a2;}
.color-2 {color: #536ca2;}
.color-3 {color: #6253a2;}
.color-4 {color: #8953a2;}
.color-5 {color: #a25393;}
.color-6 {color: #a2536c;}

html {
    min-height: 100vh;
    overflow-y: scroll;
}

body {
    background-color: var(--neutral-col-200);
    font-family: var(--ff);
    margin: 0px;
    min-width: 640px;
    position: relative;
}


header, footer, main {
    max-width: 1600px;
    margin: 0px auto;
}

header {
    background-color: var(--primary-site-col);
    min-height: 70px;
    overflow-y: hidden;
    position: sticky;
    /* height: 70px; */
    top: 0px;
    z-index: 1000;
}

.main-heading {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 1rem;
    inset: 0;
    padding: 0 1rem;
}

.content-wrapper {
    background-color: #fff;
    display: flex;
    gap: 1rem;
    min-height: calc(100vh - 100px);
    position: relative;
}

.binary-convert {
    padding: 0px 1rem 1rem 1rem;
    position: relative;
    width: 80%;
}

.convert-side {
    display: flex;
    flex-direction: column;
    position: relative;
    width: max(20%, 300px);
}

footer {
    align-items: center;
    background-color: var(--primary-site-col);
    bottom: 0px;
    display: flex;
    height: 30px;
    position: sticky;
    width: 100%;
}

footer p {
    color: var(--inverse-text-col);
    font-size: 0.8rem;
    font-weight: 200;
    padding-left: 1rem;
}