.conv-table-wrapper {
    position: relative;
}

.reference-table-wrapper {
    background-color: var(--inverse-text-col);
    /* border-left: 2px solid var(--primary-site-col);
    border-right: 2px solid var(--primary-site-col);
    border-bottom: 2px solid var(--primary-site-col); */
    padding-inline: 5px;
    padding-block: 5px;
    position: relative;
    margin-bottom: 1rem;
    overflow-x: auto;
    opacity: 1;
}

.ref-conv-table {
    display: inline-block;
    color: var(--inverse-text-col);
    background-color: var(--primary-site-col);
    padding: .5em 1em;
    position: relative;
}


.decbinhex-ref-table {
    border-collapse: collapse;
    border: 1px solid darkgrey;
    min-width: 1024px;
    margin: 0px auto;
}

[data-type] {
    border: 1px solid darkgrey;
    text-align: center;
    padding: 5px;
    width: 40px;
}

[data-type]:first-of-type {
    font-weight: bold;
    text-align: left;
    width: 60px;
}

.decbinhex-ref-table {
    display: none;
}

.cnv-opt {
    display: inline-block;
    margin-top: 5px;
    position: relative;
}
.cnv-btn {
    background-color: var(--primary-site-col);
    border-radius: 10px 0px 0px 10px;
    color: var(--inverse-text-col);
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px 9px 15px;
}

.cnv-btn::after{
    border-radius: 0px 10px 10px 0px;
    content: '';
    width: 45px;
    height: 36px;
    background-color: var(--primary-site-col);
    position: absolute;
    left: 195px;
    top: 10px;
}

.cnv-opt::before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -3px;
    top: -2px;
    z-index: 1;
}

.cnv-opt:checked + .decbinhex-ref-table {
    display: table;
}

.cnv-opt:checked::before {
    outline: var(--inverse-text-col) solid 3px;
    width: 14px;
    height: 14px;
    background-color: var(--btn-hover-col);
    left: -3px;
    top: 0px;
}

.challenge-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.challenge-value {
    align-items: center;
    background-color: var(--primary-site-col);
    border-radius: 10px;
    color: var(--inverse-text-col);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 120px;
}

.challenge-desc {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 1rem;
}

.challenge-opt {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.new-challenge-btn {
    background-color: var(--primary-site-col);
    border: none;
    border-radius: 10px;
    color: var(--inverse-text-col);
    min-width: 120px;
    min-height: 40px;
}

.new-challenge-btn:hover {
    background-color: var(--btn-hover-col);
}

.octet {
    background-color: #ffd500;
    border-radius: 10px;
    min-width: 640px;
    padding: 5px;
}

.octet-labels {
    display: flex;
}

.bit-label {
    font-size: 1.4rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    width: 100%;
    min-width: 80px;
}

.octet-entry {
    display: flex;
}

.bin-entry {
    border: 2px solid #ffd500;
    border-radius: 5px;
    display: block;
    font-size: 1.4rem;
    height: 100%;
    outline: transparent;
    text-align: center;
    width: 100%;
}