.conv-table-wrapper {
    position: relative;
}

.reference-table-wrapper {
    background-color: var(--inverse-text-col);
    padding-inline: 5px;
    padding-block: 5px;
    position: relative;
    margin-bottom: 1rem;
    overflow-x: auto;
    opacity: 1;
}

.ref-conv-table {
    display: inline-block;
    color: var(--neutral-col-100);
    background-color: var(--primary-site-col);
    padding: .5em 1em;
    position: relative;
}


.decbinhex-ref-table {
    border-collapse: collapse;
    border: 1px solid darkgrey;
    min-width: 1024px;
    margin: 0px auto;
}

[data-type] {
    border: 1px solid darkgrey;
    text-align: center;
    padding: 5px;
    width: 40px;
}

[data-type]:first-of-type {
    font-weight: bold;
    text-align: left;
    width: 60px;
}

.decbinhex-ref-table {
    display: none;
}

.cnv-opt {
    accent-color: var(--primary-site-col);
    display: inline-block;
    margin-top: 5px;
    position: relative;
    outline: 1px solid var(--neutral-col-100);
}

.cnv-label {
    background-color: var(--primary-site-col);
    border-radius: 10px 0px 0px 10px;
    color: var(--neutral-col-100);
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px 9px 15px;
}

.cnv-label::after{
    border-radius: 0px 10px 10px 0px;
    content: '';
    width: 45px;
    height: 36px;
    background-color: var(--primary-site-col);
    position: absolute;
    left: 195px;
    top: 10px;
}

.cnv-opt:checked + .decbinhex-ref-table {
    display: table;
}

.challenge-wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.challenge-value {
    align-items: center;
    outline: 3px solid var(--accent-col-1);
    border-radius: 10px;
    color: var(--accent-col-1);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 80px;
}

.challenge-desc {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 1rem;
}

.challenge-opt {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.new-challenge-btn {
    background-color: var(--primary-site-col);
    border: none;
    border-radius: 10px;
    color: var(--inverse-text-col);
    min-width: 120px;
    min-height: 40px;
}

.new-challenge-btn:hover {
    background-color: var(--btn-hover-col);
}

.octet {
    background-color: var(--accent-col-1);
    color: var(--inverse-text-col);
    border-radius: 10px;
    min-width: 640px;
    padding: 5px;
}

.octet-labels {
    display: flex;
}

.octet-labels div{
    min-width: 80px;
    padding: .2rem;
    width: 100%;
}

.bit-label {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--inverse-text-col);
    font-size: 1.2rem;
    min-width: 80px;
    padding: 0.5rem 0.5rem;
    width: 100%;
}

.bit-label:hover {
    background-color: var(--btn-hover-col);
}


.octet-entry {
    display: flex;
}

.bin-entry {
    background-color: var(--neutral-col-100);
    border: 4px solid var(--accent-col-1);
    color: #000;
    border-radius: 5px;
    display: block;
    font-size: 1.4rem;
    height: 100%;
    outline: transparent;
    text-align: center;
    width: 100%;
}

.bit-label:hover .octet .octet-entry .bin-entry {
    background-color: pink;
  }